body {
    background-color: #F9F8F6;
    color: #37353E;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.post-title {
    font-size: 30px;
}

#top > header > nav {
    justify-content: center;
}

#top > header > nav > div > a {
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    font-weight: 800;
    margin: 20px;
    /* text-decoration: none; */
}

