body {
    background-color: #F9F9F9;
    color: #0C2B4E;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.read-more {
    font-size: 14px;
    color: #1D546C;
    text-decoration: none;
}

.page-header > h1 {
    font-size: 30px;
    margin-top: 10px;
}

.page-header > h1 > a {
    color: #0C2B4E;
}

.post-title {
    font-size: 30px;
    margin-top: 10px;
}

.post-title > a {
    color: #0C2B4E;
}

.post-content > p {
    color: #2C2C2C;
    opacity: 0.8;
}

#top > header > nav {
    justify-content: center;
}

#top > header > nav > div > a {
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    font-weight: 800;
    margin: 20px;
    /* text-decoration: none; */
}

.first-entry {
    min-height: unset;
    margin-bottom: 36px;
}

.post-entry {
    min-height: unset;
    padding: unset;
    background: unset;
    border: unset;
    margin-bottom: 36px;
}
